In [1]:
####
# Filter: indexers+query
# Sort+Groupby
# Misc: Running a loop for a table 
# .map(), .apply()
# Rowise, Columnwise

In [2]:
import pandas as pd
path="/Users/gunnvantsaini/Store.csv"
data=pd.read_csv(path)

In [4]:
data.head(2)

,Unnamed: 0,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,0,1,CA-2013-152156,11/9/2013,11/12/2013,Second Class,CG-12520,Claire Gute,Consumer,United States,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136
1,1,2,CA-2013-152156,11/9/2013,11/12/2013,Second Class,CG-12520,Claire Gute,Consumer,United States,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820

In [16]:
### I want to count how many high profit customers I have in the furniture category:
# high profit: Buy at least 4 items+I don't have to give any discount+From Southern 
# region
## No filter to be used? 
# apply()
def get_cat(x):
    if x['Quantity']>=4 and x['Discount']==0 and x['Region']=='South':
        return "High"
    else:
        return "Low"

In [17]:
data['Category'].value_counts()

Office Supplies    6026
Furniture          2121
Technology         1847
Name: Category, dtype: int64

In [18]:
data.apply(get_cat,axis=1).value_counts()

Low     9623
High     371
dtype: int64

In [11]:
data.apply(get_cat,axis=1)

0        Low
1        Low
2        Low
3        Low
4        Low
5        Low
6        Low
7        Low
8        Low
9        Low
10       Low
11       Low
12       Low
13       Low
14       Low
15       Low
16       Low
17       Low
18       Low
19       Low
20       Low
21       Low
22       Low
23       Low
24       Low
25       Low
26       Low
27       Low
28       Low
29       Low
        ...
9964     Low
9965     Low
9966     Low
9967     Low
9968     Low
9969     Low
9970     Low
9971    High
9972     Low
9973     Low
9974     Low
9975     Low
9976     Low
9977     Low
9978     Low
9979     Low
9980     Low
9981     Low
9982     Low
9983     Low
9984     Low
9985     Low
9986     Low
9987     Low
9988    High
9989     Low
9990     Low
9991     Low
9992     Low
9993     Low
Length: 9994, dtype: object

In [19]:
## value_counts df or series?
path2="/Users/gunnvantsaini/Data/Work/Python Trainings/PythonForModellers/Data/comey.csv"

In [22]:
comey=pd.read_csv(path2)

In [23]:
comey.head()

,Senator,Party Affiliation,Full Question,Comey,Comey Response
0,BURR,Republican,Do you have any doubt that Russia attempted to...,COMEY,None.
1,BURR,Republican,Do you have any doubt that the Russian governm...,COMEY,"No, no doubt."
2,BURR,Republican,Do you have any doubt the Russian government w...,COMEY,No.
3,BURR,Republican,Are you confident that no votes cast in the 20...,COMEY,I'm confident. When I left as director I had s...
4,BURR,Republican,"Director Comey, did the president at any time ...",COMEY,"Not to my understanding, no."

In [24]:
def get_len(x):
    return len(x.split(" "))

In [26]:
comey['Len_Q']=comey['Full Question'].map(get_len)

In [28]:
comey['Len_A']=comey['Comey Response'].map(get_len)

In [29]:
comey.head()

,Senator,Party Affiliation,Full Question,Comey,Comey Response,Len_Q,Len_A
0,BURR,Republican,Do you have any doubt that Russia attempted to...,COMEY,None.,14,1
1,BURR,Republican,Do you have any doubt that the Russian governm...,COMEY,"No, no doubt.",26,3
2,BURR,Republican,Do you have any doubt the Russian government w...,COMEY,No.,18,1
3,BURR,Republican,Are you confident that no votes cast in the 20...,COMEY,I'm confident. When I left as director I had s...,14,15
4,BURR,Republican,"Director Comey, did the president at any time ...",COMEY,"Not to my understanding, no.",23,5

In [30]:
comey.groupby("Party Affiliation").agg({'Len_Q':'mean','Len_A':'mean'})

                       Len_Q      Len_A
Party Affiliation
Democrat           37.236364  43.309091
Independent        29.500000  23.350000
Republican         39.839286  25.875000

In [31]:
comey['Full Question'].map(lambda x:len(x.split(" ")))

0       14
1       26
2       18
3       14
4       23
5       18
6       91
7       32
8       23
9       46
10      70
11      46
12      20
13      13
14      54
15      19
16      10
17      19
18      19
19      10
20      20
21      11
22      45
23       3
24      12
25      38
26      16
27      80
28     201
29      63
      ...
268     52
269     24
270     70
271      9
272    116
273      4
274    108
275     25
276     25
277     49
278     43
279      4
280     23
281    160
282     45
283     87
284      4
285     14
286     15
287    145
288      2
289     60
290     58
291    112
292     19
293     91
294      5
295     42
296     49
297     50
Name: Full Question, Length: 298, dtype: int64

In [32]:
data.head()

,Unnamed: 0,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,0,1,CA-2013-152156,11/9/2013,11/12/2013,Second Class,CG-12520,Claire Gute,Consumer,United States,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,1,2,CA-2013-152156,11/9/2013,11/12/2013,Second Class,CG-12520,Claire Gute,Consumer,United States,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,2,3,CA-2013-138688,6/13/2013,6/17/2013,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,3,4,US-2012-108966,10/11/2012,10/18/2012,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,4,5,US-2012-108966,10/11/2012,10/18/2012,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [33]:
### weekdays, months, years, min, secs
# convert the column with datestring into a date type
data.dtypes

Unnamed: 0         int64
Row ID             int64
Order ID          object
Order Date        object
Ship Date         object
Ship Mode         object
Customer ID       object
Customer Name     object
Segment           object
Country           object
City              object
State             object
Postal Code        int64
Region            object
Product ID        object
Category          object
Sub-Category      object
Product Name      object
Sales            float64
Quantity           int64
Discount         float64
Profit           float64
dtype: object

In [35]:
data['Order Date']=pd.to_datetime(data['Order Date'])

In [36]:
data.dtypes

Unnamed: 0                int64
Row ID                    int64
Order ID                 object
Order Date       datetime64[ns]
Ship Date                object
Ship Mode                object
Customer ID              object
Customer Name            object
Segment                  object
Country                  object
City                     object
State                    object
Postal Code               int64
Region                   object
Product ID               object
Category                 object
Sub-Category             object
Product Name             object
Sales                   float64
Quantity                  int64
Discount                float64
Profit                  float64
dtype: object

In [40]:
data['Order Date'].dt.year.head(2)

0    2013
1    2013
Name: Order Date, dtype: int64

In [41]:
data['Ship Date']=pd.to_datetime(data['Ship Date'])

In [43]:
data['duration']=data['Ship Date']-data['Order Date']

In [46]:
data[data['duration']>'3 day'].head(2)

,Unnamed: 0,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,...,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,duration
2,2,3,CA-2013-138688,2013-06-13,2013-06-17,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,...,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714,4 days
3,3,4,US-2012-108966,2012-10-11,2012-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,...,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310,7 days

In [49]:
data['Order Date'].dt.weekday.head()

0    5
1    5
2    3
3    3
4    3
Name: Order Date, dtype: int64

In [50]:
?data['Order Date'].dt.weekday

Object `data['Order Date'].dt.weekday` not found.

In [53]:
data['Order Date'].dt.weekday_name.head()

0    Saturday
1    Saturday
2    Thursday
3    Thursday
4    Thursday
Name: Order Date, dtype: object

In [54]:
#1. Find out the number of delayed flights for all weekdays
#2. Find the average distance, total distance and count for all delayed flights on Friday.
#3. Find out how many flights were on time on Week days and Weekends (Consider Saturday and Sunday as weekends)
#4. Find out the number of flights for each destination across all weekdays
#5. Find out the number of times weather was bad across all weekdays. (1 indicates bad weather)

In [55]:
path3="/Users/gunnvantsaini/Data/Work/Python Trainings/PythonForModellers/Data/FlightDelays.csv"

In [56]:
flt=pd.read_csv(path3)

In [57]:
flt.head(2)

,schedtime,carrier,deptime,dest,distance,date,flightnumber,origin,weather,tailnu,delay
0,1455,OH,1455,JFK,184,01-01-2004,5935,BWI,0,N940CA,ontime
1,1640,DH,1640,JFK,213,01-01-2004,6155,DCA,0,N405FJ,ontime

In [60]:
flt['delay'].unique()

array(['ontime', 'delayed'], dtype=object)

In [58]:
flt['date']=pd.to_datetime(flt['date'])

In [59]:
flt['weekdays']=flt['date'].dt.weekday

In [63]:
q="delay=='delayed' and weekdays<=4"

In [64]:
flt.query(q).shape[0]

336

In [65]:
q="delay=='delayed' and weekdays==4"

In [66]:
flt.query(q)['distance'].mean()

210.28

In [67]:
flt.query(q)['distance'].sum()

15771

In [68]:
flt.query(q)['distance'].shape[0]

75

In [69]:
flt.query(q).agg({'distance':['mean','sum','size']})

      distance
mean    210.28
sum   15771.00
size     75.00

In [72]:
q1="delay=='ontime' and weekdays<=4"
q2="delay=='ontime' and weekdays>=5"

In [73]:
flt.query(q1).shape[0]

1362

In [74]:
flt.query(q2).shape[0]

411

In [75]:
def get_wk_day(x):
    if x<=4:
        return "weekday"
    else:
        return "weekend"
flt['is_weekday']=flt['weekdays'].map(get_wk_day)

In [76]:
flt.query("delay=='ontime'")['is_weekday'].value_counts()

weekday    1362
weekend     411
Name: is_weekday, dtype: int64

In [77]:
flt.query("weekdays<=4").groupby("dest").size()

dest
EWR    507
JFK    272
LGA    919
dtype: int64

In [78]:
flt.query("weekdays<=4")['dest'].value_counts()

LGA    919
EWR    507
JFK    272
Name: dest, dtype: int64